//* ---------| Colors |---------
$clr-white              :  rgb(255,255,255);
$clr-white-opacity-06   :  rgba(255, 255, 255, 0.6);
$clr-off-white          :  rgb(244, 255, 254);
$clr-black              :  rgb(0,0,0);
$clr-black-opacity-03   :  rgba(0,0,0,0.3);
$clr-black-opacity-006  :  rgba(0,0,0,0.06);

$clr-main               :  rgb(193, 217, 217);
$clr-secondary          :  rgb(119, 140, 128);
$clr-accent             :  rgb(166, 51, 82);

//* palette de couleur (color-paletteN°-colorN°)
$clr-P1-C1              :  rgb(255, 99, 99);
$clr-P1-C2              :  rgb(255, 171, 118);
$clr-P1-C3              :  rgb(255, 253, 162);
$clr-P1-C4              :  rgb(186, 255, 180);
$clr-P1-C5              :  rgb(100, 182, 250);

//* palette de couleur (color-paletteN°-colorN°)
$clr-P2-C0              :  rgb(252, 218, 221);
$clr-P2-C1              :  rgb(253, 187, 193);
$clr-P2-C2              :  rgb(232, 119, 135);
$clr-P2-C3              :  rgb(146, 27, 55);
$clr-P2-C4              :  rgb(34, 15, 22);
$clr-P2-C5              :  rgb(106, 147, 144);
$clr-P2-C6              :  rgb(182, 184, 189);


//* ---------| fonts |---------
$fnt-size               :   1.5rem; 
$fnt-main               :   'Cormorant Garamond', serif;
$fnt-secondary          :   'Poppins', sans-serif;